absl-py==2.0.0
accelerate==0.21.0
aiohttp-retry==2.8.3
aiohttp==3.9.1
aiosignal==1.3.1
aiosmtplib==2.0.2
aiostream==0.5.2
albumentations==1.3.0
alembic==1.8.1
altair==4.2.0
altgraph==0.17.3
amqp==5.1.1
annotated-types==0.5.0
ansicon==1.89.0
anthropic==0.3.9
antlr4-python3-runtime==4.9.3
anyio==3.7.1
apache-airflow-providers-celery==3.1.0
apache-airflow-providers-common-sql==1.3.1
apache-airflow-providers-ftp==3.2.0
apache-airflow-providers-http==4.1.0
apache-airflow-providers-imap==3.1.0
apache-airflow-providers-sqlite==3.3.1
apache-airflow==2.6.3
apispec==3.3.2
appdirs==1.4.4
argcomplete==2.0.0
arrow==1.2.3
asgiref==3.7.2
asttokens==2.1.0
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
azure-ai-language-questionanswering==1.1.0
azure-ai-textanalytics==5.3.0b1
azure-cognitiveservices-speech==1.29.0
azure-common==1.1.28
azure-core==1.26.1
babel==2.11.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache==1.6.4
bcrypt==4.0.1
beautifulsoup4==4.12.2
billiard==3.6.4.0
bitsandbytes-windows==0.37.5
bitsandbytes==0.41.2.post2
blessed==1.20.0
blinker==1.5
blis==0.7.10
brotlipy==0.7.0
bson==0.5.10
build==0.10.0
cachecontrol==0.12.14
cachelib==0.9.0
cachetools==5.2.0
catalogue==2.0.9
cattrs==23.1.2
celery==5.2.7
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.18
circus==0.18.0
clarifai-grpc==9.8.1
clarifai==9.9.3
cleo==2.0.1
click-didyoumean==0.3.0
click-option-group==0.5.6
click-plugins==1.1.1
click-repl==0.2.0
click==8.1.6
clickclick==20.10.2
cloudpickle==2.2.0
cohere==4.39
colorama==0.4.6
coloredlogs==15.0.1
colorlog==4.8.0
commonmark==0.9.1
comtypes==1.1.14
confection==0.1.2
configupdater==3.1.1
connexion==2.14.1
contextlib2==21.6.0
contourpy==1.0.6
coverage==7.3.1
crashtest==0.4.1
cron-descriptor==1.2.32
croniter==1.3.8
cryptography==39.0.1
cssselect==1.2.0
cssutils==2.9.0
ctransformers==0.2.24
cuda-python==12.2.0
cycler==0.11.0
cymem==2.0.7
cython==3.0.0
dacite==1.8.1
dataclasses-json==0.5.9
dataclasses==0.6
datasets==2.10.1
dateutils==0.6.12
debugpy==1.6.3
decorator==5.1.1
deepdiff==6.2.3
deepmerge==1.1.0
deprecated==1.2.13
diffusers==0.21.4
dill==0.3.6
diskcache==5.6.1
distlib==0.3.7
distro==1.8.0
dnspython==2.2.1
docarray==0.32.1
docker-pycreds==0.4.0
docutils==0.19
dulwich==0.21.5
ecdsa==0.18.0
efficientnet-pytorch==0.7.1
einops==0.6.1
email-validator==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.4.1
exceptiongroup==1.1.2
executing==1.2.0
faker==19.6.1
fastapi-mail==1.3.0
fastapi==0.99.1
fastavro==1.9.1
fastcore==1.5.29
fastjsonschema==2.16.2
favicon==0.7.0
ffmpeg-python==0.2.0
filelock==3.12.2
filetype==1.2.0
fire==0.5.0
flask-appbuilder==4.3.1
flask-babel==2.0.0
flask-caching==2.0.1
flask-jwt-extended==4.4.4
flask-limiter==3.3.0
flask-login==0.6.2
flask-session==0.4.0
flask-sqlalchemy==2.5.1
flask-wtf==1.0.1
flask==2.2.3
flatbuffers==22.10.26
flower==1.2.0
fonttools==4.38.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.10.0
future==0.18.3
ghapi==1.0.4
gitdb==4.0.9
gitpython==3.1.40
google-api-core==2.11.1
google-auth==2.20.0
google-cloud-aiplatform==1.26.0
google-cloud-bigquery==3.11.1
google-cloud-core==2.3.2
google-cloud-resource-manager==1.10.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-re2==1.1
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
graphviz==0.20.1
greenlet==2.0.2
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpc-google-iam-v1==0.12.6
grpcio-tools==1.59.3
grpcio==1.59.3
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hnswlib==0.8.0
hpack==4.0.0
htbuilder==0.6.2
html5lib==1.1
htmlmin==0.1.12
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
huggingface-hub==0.16.4
humanfriendly==10.0
humanize==4.4.0
hyperframe==6.0.1
hypothesis==6.84.2
idna==3.4
imagehash==4.3.1
imageio==2.22.3
importlib-metadata==6.0.1
importlib-resources==5.10.0
inflection==0.5.1
iniconfig==2.0.0
inquirer==3.1.2
installer==0.7.0
ipykernel==6.17.0
ipython==8.6.0
ipywidgets==8.0.2
isodate==0.6.1
itsdangerous==2.1.2
ivy==0.0.0.0.0
jaraco.classes==3.3.0
jedi==0.18.1
jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.17.3
jupyter-client==7.4.4
jupyter-core==5.2.0
jupyterlab-widgets==3.0.3
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
kubernetes==28.1.0
langchain-core==0.0.11
langchain==0.0.346
langcodes==3.3.0
langsmith==0.0.66
lazy-object-proxy==1.8.0
lightning-cloud==0.5.38
lightning-utilities==0.7.1
lightning==2.0.9
limits==3.3.1
linkify-it-py==2.0.0
llama-cpp-python==0.2.20
llama-index==0.9.15.post2
llvmlite==0.41.1
lockfile==0.12.2
loguru==0.7.2
lxml==4.9.1
lz4==4.3.2
mako==1.2.4
manifest-ml==0.0.1
markdown-it-py==3.0.0
markdown==3.4.1
markdownlit==0.0.7
markupsafe==2.1.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
marshmallow==3.20.1
matplotlib-inline==0.1.6
matplotlib==3.7.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlxtend==0.22.0
mmh3==4.0.1
monotonic==1.6
more-itertools==10.1.0
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==1.0.0
mypy==1.7.1
mysql-connector-python==8.2.0
nbformat==5.7.0
nest-asyncio==1.5.8
networkx==2.8.8
nh3==0.2.14
nlpcloud==1.1.44
nltk==3.8.1
numba==0.58.1
numexpr==2.8.5
numpy==1.23.5
nvidia-ml-py==12.535.77
oauthlib==3.2.2
omegaconf==2.2.3
onnxruntime-gpu==1.13.1
onnxruntime==1.15.1
openai==1.6.0
openapi-schema-pydantic==1.2.4
opencv-python-headless==4.7.0.72
opencv-python==4.7.0.68
openlm==0.0.5
openpyxl==3.1.1
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation-aiohttp-client==0.39b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-grpc==0.39b0
opentelemetry-instrumentation==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
optimum==1.11.1
optree==0.9.1
ordered-set==4.1.0
orjson==3.8.6
outcome==1.2.0
overrides==7.4.0
packaging==23.1
pandas==1.3.5
parso==0.8.3
passlib==1.7.4
pathspec==0.9.0
pathy==0.10.2
patsy==0.5.3
pefile==2023.2.7
pendulum==2.1.2
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
pillow==9.4.0
pinecone-client==2.2.4
pip-requirements-parser==32.0.1
pip-tools==7.3.0
pip==23.0.1
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10
platformdirs==3.10.0
plotly==5.14.0
pluggy==1.0.0
poetry-core==1.6.1
poetry-plugin-export==1.4.0
poetry==1.5.1
portalocker==2.8.2
posthog==3.0.2
premailer==3.10.0
preshed==3.0.8
prison==0.2.1
prometheus-client==0.15.0
prompt-toolkit==3.0.36
proto-plus==1.22.2
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==10.0.1
pyasn1-modules==0.3.0
pyasn1==0.5.0
pybboxes==0.1.6
pycocotools==2.0.6
pycparser==2.21
pydantic-core==2.10.1
pydantic==1.10.13
pydeck==0.8.0
pygments==2.13.0
pyinstaller-hooks-contrib==2023.3
pyinstaller==5.12.0
pyjwt==2.8.0
pymdown-extensions==10.3
pymongo==4.5.0
pympler==1.0.1
pynvml==11.5.0
pyopenssl==23.0.0
pyparsing==3.0.9
pypdf==3.17.1
pypdfium2==4.24.0
pypika==0.48.9
pyproject-hooks==1.0.0
pyreadline3==3.4.1
pyrsistent==0.19.2
pysocks==1.7.1
pytest-cov==4.1.0
pytest-mock==3.11.1
pytest==7.4.1
python-box==7.1.1
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-jose==3.3.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.5
python-nvd3==0.15.0
python-rapidjson==1.10
python-slugify==7.0.0
pytorch-lightning==2.0.0
pytruth==1.1.0
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3
pytzdata==2020.1
pywavelets==1.4.1
pywin32-ctypes==0.2.0
pywin32==305.1
pywinauto==0.6.8
pyyaml==6.0.1
pyzmq==23.2.0
qdrant-client==1.7.0
qudida==0.0.4
rapidfuzz==2.15.1
readchar==4.0.3
readme-renderer==42.0
redis==4.6.0
regex==2022.10.31
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests==2.31.0
resend==0.6.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich-argparse==1.2.0
rich==13.4.2
rouge-score==0.1.2
rsa==4.9
safetensors==0.3.2
sahi==0.11.11
schema==0.7.5
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
selenium==4.16.0
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.39.1
setproctitle==1.3.2
setuptools==65.6.3
shap==0.41.0
shapely==1.8.5.post1
shellingham==1.5.0.post1
simple-di==0.1.5
simsimd==3.6.0
six==1.16.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snscrape==0.4.3.20220106
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy==3.6.1
sqlalchemy-jsonfield==1.0.0
sqlalchemy-utils==0.38.3
sqlalchemy==1.4.49
sqlitedict==2.1.0
sqlparse==0.4.3
srsly==2.4.7
st-annotated-text==4.0.1
stack-data==0.6.0
starlette==0.27.0
starsessions==1.3.0
statsmodels==0.14.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.4
streamlit-faker==0.0.2
streamlit-feedback==0.1.2
streamlit-image-comparison==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
streamlit==1.29.0
swagger-ui-bundle==0.0.9
sympy==1.11.1
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
techdocs==0.2.1
tenacity==8.2.3
termcolor==2.3.0
terminaltables==3.1.10
text-unidecode==1.3
textbase==0.15
thinc==8.1.12
threadpoolctl==3.1.0
tifffile==2022.10.10
tiktoken==0.5.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchdata==0.6.1
torchinfo==1.7.2
torchmetrics==1.0.0
torchopt==0.7.1
torchtext==0.15.2
torchvision==0.15.2+cu117
tornado==6.2
tqdm==4.66.1
traitlets==5.7.1
transformers==4.35.2
trio-websocket==0.9.2
trio==0.22.0
tritonclient==2.34.0
trove-classifiers==2023.8.7
trubrics==1.6.1
tweepy==4.12.1
twilio==8.5.0
twine==4.0.2
typeguard==2.13.3
typer==0.9.0
types-protobuf==4.24.0.4
types-requests==2.31.0.10
typing-extensions==4.7.1
typing-inspect==0.9.0
tzdata==2022.6
tzlocal==4.2
uc-micro-py==1.0.1
ujson==5.7.0
unicodecsv==0.14.1
urllib3==1.26.18
uvicorn==0.23.2
validators==0.20.0
vine==5.0.0
virtualenv==20.24.3
visions==0.7.5
wandb==0.16.1
wasabi==1.1.2
watchdog==2.1.9
watchfiles==0.18.1
watermark==2.3.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
werkzeug==2.2.2
wheel==0.40.0
widgetsnbextension==4.0.3
win-inet-pton==1.1.0
win32-setctime==1.1.0
wincertstore==0.2
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
wtforms==3.0.1
xgboost==1.7.4
xxhash==3.2.0
yagmail==0.15.293
yarl==1.9.2
yaspin==3.0.1
zipp==3.11.0